################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BotInADay2018/bin
/BotInADay2018/obj
/packages
